In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_excel('D:/datamining/dataset_soal No. 2.xls')

In [3]:
data.head()

  Category  Weather V-1  Holiday V-2  Game V-3  Qty
0        A            5            1         0  250
1        B            3            1         1  200
2        C            1            1         0   75
3        D            4            1         1  400
4        E            4            0         0  150

In [7]:
data.tail()

  Category  Weather V-1  Holiday V-2  Game V-3  Qty
1        B            3            1         1  200
2        C            1            1         0   75
3        D            4            1         1  400
4        E            4            0         0  150
5        F            2            0         0   50

In [9]:
df = pd.DataFrame(data)
df.columns = ['Weather V-1','Holiday V-2','Game V-3']
df

ValueError: Length mismatch: Expected axis has 5 elements, new values have 3 elements

In [13]:
for i in range (7):
    if (df.ix[i]['Weather V-1'] == 'Holiday V-2'):
            plt.scatter(df.ix[i]['x'], df.ix[i]['y'], s=100, c='r')
        elif(df.ix[i]['Holiday V-2'] == 'Game V-3'):
            plt.scatter(df.ix[i]['x'], df.ix[i]['y'], s=100, c='r')
        else:
            plt.scatter(df.ix[i]['x'], df.ix[i]['y'], s=200, c='b')
        
plt.grid()
plt.show()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [16]:
import math
dis = []
for i in range(7):
    dis.append(math.sqrt((float(df.iloc[i]['Weather V-1'])- query[0]) **2
    + (float(df.iloc[i]['Game V-3']) - query[1]) **2 ))

NameError: name 'query' is not defined

In [17]:
df['dis'] = dis
df

ValueError: Length of values (0) does not match length of index (6)